/* 右侧工具菜单 */
.graph-web-toolbar {
  position: absolute;
  display: block;
  bottom: 50px;
  right: 0px;
  width: 50px;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
  transition: right 0.25s linear;
}
.graph-web-toolbar > .graph-web-toolbar-switch {
  position: absolute;
  left: 20px;
  /* height: 62px; */
  line-height: 62px;
  width: 28px;
  height: 62px;
  text-align: center;
  border: 1px solid #c0bfbf;
  color: #c0bfbf;
  top: 50%;
  left: -27px;
  font-size: 18px;
  transform: translateY(-50%);
}

.graph-web-toolbar > .graph-web-toolbar-switch:hover > i{
  color:#409EFF;
}

.graph-web-toolbar > .graph-web-toolbar-switch > .el-icon-d-arrow-left{
  display: none;
}

.graph-web-toolbar > ul {
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  padding: 0px;
  border-top: 1px solid #c0bfbf;
  border-left: 1px solid #c0bfbf;
  border-right: 1px solid #c0bfbf;
}

.graph-web-toolbar ul > li {
  padding: 7px;
  list-style: none;
  border-bottom: 1px solid #c0bfbf;
}

.graph-web-toolbar ul > li:hover {
  background-color: #409eff;
  color: white;
}

/* 右键菜单 */
.contextMenu {
  display: none;
  position: absolute;
  width: 90px;
  top: 200px;
  left: 50px;
  opacity: 0.7;
  color: white;
  letter-spacing: 2px;
}

.contextMenu > ul {
  margin: 0px;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  user-select: none;
  padding: 0px;
}

.contextMenu ul > li {
  padding: 8px;
  list-style: none;
  border-bottom: 1px solid #ffffff;
  background-color: black;
}

.contextMenu ul > li.first {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.contextMenu ul > li.last {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 0;
}

.contextMenu ul > li:hover {
  background-color: #409eff;
  color: white;
}

/* 详情弹框 */
.message {
  width: 600px;
  height: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 1px solid;
  background-color: white;
}

.message-title {
  height: 40px;
  display: block;
  background-color: #f3f3f3;
  padding-left: 10px;
  padding-right: 10px;
}

.message-title-content {
  color: #000;
  font-size: 18px;
  line-height: 40px;
  display: block;
  float: left;
}
.message-close {
  color: #128bed;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  display: block;
  float: right;
  cursor: pointer;
}